table {
    
    color: whitesmoke; font-weight: bold; font-size: large;
    border-color: black;
    border-style: groove;
    border-top-left-radius: 9%;    
    border-top-right-radius: 9%;    
    border-bottom-left-radius: 3%;    
    border-bottom-right-radius: 3%;    
    
}
a {
    color: turquoise;
    font-size: x-large;
}
th {
    font-size: larger;
}
a::after {
    color: maroon;
}

h3 {
    font-size: xx-large;
}

li::before {

    background-image: none;
}