<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits And Thanks</title>

    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
   
</head>
<body>

<NAV>
    <ul>
        <li>
            <a href="./index.html"><- Homepage </a><img src="" alt="">
        </li>
    </ul>
</NAV>


    <h1>Credits And Thanks</h1>
<h2>Attributations to Resources</h2>

<table border="1">
    <th>
        Use
    </th>

    <th>
        Referance
    </th>
    <th>Resource</th>
    <th>
        Note
    </th>
    <tr>

    <td colspan="4" align="center">
        <h3>Graphical User Interface (GUI)</h3>

        <tr>
            <td>
                UI
            </td>
            <td>
                <a href="https://thenounproject.com/creator/maxicons/">Maxicons</a>
            </td>
            <td>
                <a href="https://thenounproject.com/icon/game-ui-option-gear-2360105/">Noun Project</a> - png
            </td>
        </tr>

    </td>
<td colspan="4" align="center">

    <h3>Sound And Effects</h3> 
</tr>
    <tr>
        <td >
            Theme Music
        </td>
        <td>
        <a href="https://pixabay.com/sound-effects/horror-background-atmosphere-for-suspenseful-moments-166944/">pixabay</a>
        </td>
        <td>
            mp3 file
        </td>
    </tr>
</td>


</table>

<ul>
    <li></li>
</ul>
</body>
</html>