<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits And Thanks</title>

    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/credits.css">
    
    
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    
</head>
<body class="film-grain">

<NAV>
    <ul>
        <li>
            <div class="item-card">

                <a href="/"><img src="/static/favicon.ico" class="icon" alt="<- Homepage"></a>
            </div>
        </li>
        <li>Homepage</li>
    </ul>
</NAV>



<h1 title="Credits And Thanks">*Tomb of Recogntion</h1>
<h3>Attributations to Resources</h3>



<table class="slab" style="align-items: center;align-self: center; align-content: center;">
        <th>
            Use
        </th>
        
        <th>
            Referance
        </th>
        <th>Resource</th>
        <th>
            Note
        </th>
        <tr>
            
    <td colspan="4" align="center" style="border: 1;">
        <h3>Graphical User Interface (GUI)</h3>

        <tr>
            <td>
                UI
            </td>
            <td>
                <a href="https://thenounproject.com/creator/maxicons/">Maxicons</a>
            </td>
            <td>
                <a href="https://thenounproject.com/icon/game-ui-option-gear-2360105/">Noun Project</a> - png
            </td>
        </tr>

    </td>
<td colspan="4" align="center" >

    <h3 >Sound And Effects</h3> 
</tr>
    <tr>
        <td >
            Theme Music
        </td>
        <td>
        <a target="_blank" href="https://pixabay.com/sound-effects/horror-background-atmosphere-for-suspenseful-moments-166944/">pixabay</a>
        </td>
        <td>
            mp3 file
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Paper Turn
        </td>
        <td>
            Sound Effect by <a href="https://pixabay.com/users/freesound_community-46691455/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=5933">freesound_community</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=5933">Pixabay</a>
        </td>
        <td>
            mp3 file(edited)
        </td>
        <td>
            sliced and dieced in the editor room for better effect quality
        </td>
    </tr>
    <tr>
        <td>
            whoosh
        </td>
        <td>
            Sound Effect by <a href="https://pixabay.com/users/universfield-28281460/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=351021">Universfield</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=351021">Pixabay</a>
        </td>

    </tr>
    <tr>
        <td>
            bell_toll_1
        </td>
        <td>
            Sound Effect by <a href="https://pixabay.com/users/u_omspjqprot-44810303/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=222490">u_omspjqprot</a> from <a href="https://pixabay.com/sound-effects//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=222490">Pixabay</a>
        </td>
    </tr>
    <tr>
        <td>
            church_bell_toll_1
        </td>
        <td>
            Sound Effect by <a href="https://pixabay.com/users/universfield-28281460/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=156464">Universfield</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=156464">Pixabay</a>
        </td>
    <tr>
        <td>
            church_bell_toll_2
        </td>
        <td>
            Sound Effect by <a href="https://pixabay.com/users/universfield-28281460/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=352062">Universfield</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=352062">Pixabay</a>
        </td>
    <tr>
        <td>
            church_bell_toll_3
        </td>
        <td>
            Sound Effect by <a href="https://pixabay.com/users/universfield-28281460/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=156463">Universfield</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=156463">Pixabay</a>
        </td>

    </tr>
</td>


</table>

<ul>
    <li></li>
</ul>
</body>
</html>