<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits And Thanks</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
   
</head>
<body>
<h1>Credits And Thanks</h1>
<h2>Attributations to Resources</h2>

<table border="1">
    <th>
        Use
    </th>

    <th>
        Referance
    </th>

    <tr>
    <td colspan="3" align="center">
       <h3>Sound And Effects</h3> 
    </td>
</tr>
    <tr>
        <td >
            Theme Music
        </td>
        <td>
        <a href="https://pixabay.com/sound-effects/horror-background-atmosphere-for-suspenseful-moments-166944/">pixabay</a>
        </td>
    </tr>
</table>

<ul>
    <li></li>
</ul>
</body>
</html>