<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limited Print World</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/static/manifest.json">

</head>
<body class="film-grain">
    <header>
        <h1 >Limited Print World</h1>
        <h1 style="color: maroon;">( ~_~ Under Construction ~_~ )</h1>
        <p style="font-style: italic; font-size: 200%;"><strong>(~Version_{{ v_id }})</strong></p>
        <img src="/static/img/favicon.ico" alt="favicon">
        <p style="font-size: 225%;" >Miniatures & Decorations for the Discerning Collector</p>
    
    <!-- Ambient background sound -->
    <audio id="ambient" src="/static/audio/ambient.mp3" autoplay="true" loop></audio>

    <!-- Bell sound -->
    <audio id="bell" src="/static/audio/caw.mp3"></audio>
    </header>

    <hr>
    <p style="font-size: x-large;">This webpage is coming soon. The web imps are being mischievous in production, causing setbacks.</p>
    <p style="font-style: italic; font-size: x-large;">
        They will soon find their respective restraints to keep them contained to task.
    </p>

        <div class="tooltip-container">
    <button class="tooltip-button" tabindex="0"><h2 class="item-card">** Features Coming Soon </h2> </button>
            <div class="tooltip-content">collection of v1 type features
            </div>
        </div> 

    <div class="item-card" style="width: fit-content; height: fit-content;">
        <ul>
            <li>A Delightful <span style="font-style: italic;">Little</span> Homepage</li>
            <li>Custom order forms (3D resin print)</li>
            <li><h2>Services</h2>
            <ul>
                <li>Email order form</li>
                <ul>
                    <li>3D Printing</li>
                    <li>Model Painting <strong>(base)</strong>
                        <ul>
                            <li>Warhammer 40k and Fantasy</li>
                            <li>D&D</li>
                            <li>Star Wars</li>
                        </ul>
                    </li>
                </ul>        
            </ul>
            </li>

        </ul>
    </div>

    <hr>

    <div class="tooltip-container">
    <button class="tooltip-button" tabindex="0">
        <h2 class="item-card">** Features Coming Later
        </h2>
    </button>
        <div class="tooltip-content">things that'll be added as they can, not a major priority
        </div>
    </div> 
<span></span>
    <div class="item-card" style="width: fit-content; height: fit-content;">
        <ul>
            <li>Art gallery</li>
            <ul>
                <li>Past 3D prints</li>
                <li>Model</li>
            </ul>
        </ul>
    </div>

    <footer>
        <a target="_self" href="https://limitedprintworld.com/rpg/survive">demo_link (does nothing)</a>
    </footer>
</body>
<script src="/static/js/main.js"></script>
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/static/sw.js').then(reg => {
    reg.onupdatefound = () => {
      const newWorker = reg.installing;
      newWorker.onstatechange = () => {
        if (newWorker.state === 'installed' && navigator.serviceWorker.controller) {
          if (confirm("New update available. Reload now?")) {
            window.location.reload();
          }
        }
      };
    };
  });
}
</script>


</html>
