<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limited Print World</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/vars.css') }}">
</head>
<body>
    <header>
        <h1>Limited Print World</h1>
        <h1 class="subtitle" style="color: maroon; font-size: larger;">( -- Under Construction -- )</h1>
        <img src="{{ url_for('static', path='/favicon.ico') }}" alt="favicon">
        <p>Miniatures & Decorations for the Discerning Collector</p>
    </header>

    <hr>
    <p>This webpage is coming soon. The web imps are being mischievous in production, causing setbacks.</p>
    <p style="font-style: italic;">
        They will soon find their respective restraints to keep them contained to task.
    </p>

    <h2 class="item-card" title="collection of v1 type features">** Features Coming Soon</h2>

    <div class="item-card" style="width: fit-content; height: fit-content;">
        <ul>
            <li>A Delightful <span style="font-style: italic;">Little</span> Homepage</li>
            <li>Custom order forms (3D resin print)</li>
            <li><h2>Services</h2>
            <ul>
                <li>Email order form</li>
                <ul>
                    <li>3D Printing</li>
                    <li>Model Painting <strong>(base)</strong>
                        <ul>
                            <li>Warhammer 40k and Fantasy</li>
                            <li>D&D</li>
                            <li>Star Wars</li>
                        </ul>
                    </li>
                </ul>        
            </ul>
            </li>

        </ul>
    </div>

    <hr>
    <h2 class="item-card" title="things that'll be added as they can, not a major priority">** Features Coming Later</h2>

    <div class="item-card" style="width: fit-content; height: fit-content;">
        <ul>
            <li>Art gallery</li>
            <ul>
                <li>Past 3D prints</li>
                <li>Model</li>
            </ul>
        </ul>
    </div>

    <footer>
        <a target="_blank" href="https://limitedprintworld.com">demo_link (does nothing)</a>
    </footer>
</body>
</html>
