<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 
    https://limitedprintworld.com/static
    -->
    <!--  
    https://localhost:8080/static
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limited Print World</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/static/manifest.json">

</head>
<body class="film-grain-steady">
    <header>
        <h1 >Limited Print World</h1>
        <h1 style="color: maroon;">( ~_~ Under Construction ~_~ )</h1>
        <p style="font-style: italic; font-size: 200%;"><strong>(~Version_{{ v_id }})</strong></p>
        <img src="/static/img/favicon.ico" alt="favicon" class="icon">
        <p style="font-size: 225%;" >Miniatures & Decorations for the Discerning Collector</p>
    
    <!-- Ambient background sound -->
    <audio id="ambient_auido" src="/static/audio/ambient.mp3" autoplay="true" loop></audio>

    <!-- Bell sound -->
    <audio id="caw_audio" src="/static/audio/caw.mp3"></audio>
    </header>

    <p class="shimmer-text-rd-w" style="font-size: x-large;">This webpage is coming soon. <br>
        The web imps are being mischievous in production, causing setbacks. <br>    
        They will soon find their respective restraints to keep them contained to task.
    </p>
    
        <div class="tooltip-container">
    <button class="tooltip-button" tabindex="0"><h2 class="item-card">** Features Coming Soon </h2> </button>
            <div class="tooltip-content">collection of v1 type features
            </div>
        </div> 

    <div class="item-card" style="width: fit-content; height: fit-content;">
        <ul>
            <li>A Delightful <span style="font-style: italic;">Little</span> Homepage</li>
            <li><a href="/forms">Custom order forms (3D resin print)</a></li>
            <li><h2>Services</h2>
            <ul>
                <li>Email order form</li>
                <ul>
                    <li>3D Printing</li>
                    <li>Model Painting <strong>(base)</strong>
                        <ul>
                            <li>Warhammer 40k and Fantasy</li>
                            <li>D&D</li>
                            <li>Star Wars</li>
                        </ul>
                    </li>
                </ul>        
            </ul>
            </li>

        </ul>
    </div>


    <div class="tooltip-container">
    <button class="tooltip-button" tabindex="0">
        <h2 class="item-card">** Features Coming Later
        </h2>
    </button>
        <div class="tooltip-content">things that'll be added as they can, not a major priority
        </div>
    </div> 
<span></span>
    <div class="item-card" style="width: fit-content; height: fit-content;">
        <ul>
            <li>Art gallery</li>
            <ul>
                <li>Past 3D prints</li>
                <li>Model</li>
            </ul>
        </ul>
    </div>

    <footer>
        <!-- <a target="_self" href="https://limitedprintworld.com/rpg/survive">demo_link (does nothing)</a> -->
        
        <a href="/credits">credits</a>
        /
        <strong class="shimmer-text" style="font-size: large;" >Headmaster Email: </strong>
        <a  href="mailto:limitedprintworld@proton.me" title="limitedprintworld@proton.me">limitedprintworld@proton.me</a>
        /
        <strong class="shimmer-text" style="font-size: large;" >Summon Tech Wizzard: </strong>
        <a title="notice anything strange? let me know!" href="mailto:pitherbro@proton.me">Support</a>

        /
        <a href="https://limitedprintworld.com/robots.txt">For the Souless(robots.txt)</a>

    </footer>
<script src="/static/js/main.js"></script>
<script>
if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/sw.js').then(reg => {
    reg.onupdatefound = () => {
        const newWorker = reg.installing;
        newWorker.onstatechange = () => {
        if (newWorker.state === 'installed' && navigator.serviceWorker.controller) {
            if (confirm("New update available. Reload now?")) {
            window.location.reload();
            }
        }
        };
    };
    });
}
</script>
</body>



</html>
